In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("data/alunos_classificados2.csv")
df.head()

,UNIVERSIDADE,SEXO,GRUPO INSCRIÇÃO,VAGA CLASSIFICAÇÃO,PONTUAÇÃO,ENTRADA,COLOCAÇÕES,CURSO,MODALIDADE,TURNO,CIDADE
0,UNIVERSIDADE FEDERAL DO PARÁ,F,7,A,560.93,2,14,AGROECOLOGIA,TECNOLOGO,INTEGRAL,ABAETETUBA
1,UNIVERSIDADE FEDERAL DO PARÁ,M,7,A,600.53,2,8,AGROECOLOGIA,TECNOLOGO,INTEGRAL,ABAETETUBA
2,UNIVERSIDADE FEDERAL DO PARÁ,M,7,I,494.85,2,1,AGROECOLOGIA,TECNOLOGO,INTEGRAL,ABAETETUBA
3,UNIVERSIDADE FEDERAL DO PARÁ,F,7,A,626.38,2,7,AGROECOLOGIA,TECNOLOGO,INTEGRAL,ABAETETUBA
4,UNIVERSIDADE FEDERAL DO PARÁ,F,9,A,654.92,2,2,AGROECOLOGIA,TECNOLOGO,INTEGRAL,ABAETETUBA

In [7]:
# quais cursos estão presentes no dataframe
df["CURSO"].value_counts()

CURSO
PEDAGOGIA                  164
ADMINISTRAÇÃO              138
CIÊNCIAS BIOLÓGICAS         92
ARQUIVOLOGIA                82
GEOGRAFIA                   80
BIBLIOTECONOMIA             76
MEDICINA                    62
ARQUITETURA E URBANISMO     61
CIENCIAS BIOLOGICAS         60
LETRAS PORTUGUES            48
AGRONOMIA                   41
ENGENHARIA DE PRODUÇÃO      41
CIÊNCIA DA COMPUTAÇÃO       41
BIOMEDICINA                 41
HISTÓRIA                    40
CIENCIA E TECNOLOGIA        40
ENGENHARIA FLORESTAL        40
MATEMATICA                  40
BIOTECNOLOGIA               40
FISICA                      38
LETRAS INGLES               30
AGROECOLOGIA                28
LETRAS - ESPANHOL           26
LETRAS - PORTUGUES          21
GEOPROCESSAMENTO            21
ENGENHARIA DE MATERIAIS     20
QUIMICA                     15
FÍSICA                      15
Name: count, dtype: int64

In [8]:
# quais cidades estão presentes no dataframe
df["CIDADE"].value_counts()

CIDADE
BELEM                  571
ALTAMIRA               359
ABAETETUBA             255
ANANINDEUA             191
ABAETETUBA ACARA        27
ABAETETUBA TOME-ACU     20
ALTAMIRA ARUARA         18
Name: count, dtype: int64